@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --background-color: black;
  --primary-color: white;
  --primary-color-darker: #77221a;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-transform: uppercase;
  transition: color 1s ease-out;
}
a:hover {
  color: var(--primary-color-darker);
  text-decoration: underline;
}

